2620. Counter/notes (замыкания).md
2623. Memoize/notes.md
2626. Array Reduce Transformation/notes.md
2629. Function Composition/notes.md
2665. Counter II/notes (класс, функция или стрелочная функция).md
